
/* =====================================================================


===================================================================== */
$colorRed: #e89bac;
$colorBlue: #0068b7;
$colorP: #fce9d9;
$colorPink: #fce9d9;
$colorG: #22430C;
$colorGreen: #22430C;
$colorGL: #556E45;
$colorBorder: #556E45;
$colorB: #1F1F1F;
$colorBlack: #000;
$colorBlack2: #52043f;
$colorYellow: #f6eb61;
$colorGray: #EEEEEE;
$colorLightGray: #f3f3f3;
