@charset "utf-8";
@use "sass:math";

@use "../tool" as *;
@use "../base" as *;

.main {
	position:relative;
	display:block;
	&:after {
		content:"";
		display:table;
		clear:both;
	}
}


.contents, .l-contentBox {
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&:-webkit-scrollbar {
		display:none;
	}
}
.l-wrapper {
	padding-top: 115px;
	// .topIndex & {
	// 	padding-top:100px;
	// }
}
.l-contents {
	max-width: 1400px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	// overflow: hidden;
	&:after {
		content:"";
		clear:both;
		display:table;
	}
}
.l-pageContents {
	background-color:$colorRed;
	margin-top: -100px;
	padding-top:140px;
	padding-bottom: 120px;
	color:#fff;
}
.l-pageContents__inner {
	max-width: 1300px;
	padding-left: 50px;
	padding-right:50px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.contentsMain {
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
}

.l-adjustAnchor {
	padding-top: 90px;
	margin-top: -90px;
}

@media #{$breakPoint00} {
.l-pageContents {
	background-color:$colorRed;
	margin-top: math.div(-100%, 13);
	padding-top:math.div(160%, 13);
	padding-bottom: math.div(120%, 13);
}
.l-pageContents__inner {
	padding-left: math.div(50%, 13);
	padding-right:math.div(50%, 13);
}
}
@media #{$breakPoint01} {
.l-wrapper {
	.topIndex & {
	}
}
.l-container {

}

.l-contents {
	// margin-bottom: 100px;
}
.contentsMain {
	margin-bottom: math.div(50%, 11);
	&:last-child {
		margin-bottom: 0;
	}
}
.l-adjustAnchor {
	padding-top: 90px;
	margin-top: -90px;
}


}

@media #{$breakPoint02} {
.l-container {

}
.l-wrapper {
	padding-top: math.div(140%, 7.65);
}
.l-pageContents {
	background-color:$colorRed;
	margin-top: math.div(-82%, 6.4);
	padding-top:math.div(130%, 6.4);
	padding-bottom: math.div(90%, 6.4);
}
.l-pageContents__inner {
	padding-left: math.div(30%, 6.4);
	padding-right:math.div(30%, 6.4);
}

.contentsMain {
	margin-bottom: math.div(40%, 6.4);
	&:last-child {
		margin-bottom: 0;
	}
}
.l-adjustAnchor {
	padding-top: 56px;
	margin-top: -56px;
}


}
